html{
    scroll-behavior: smooth;
    background-color: rgb(214, 209, 209);
    text-align: center;
    
    
}

button {
    
    background-color: gray;
    border-radius: 6px;
    padding: 5px 10px;
    color: white;
    transition: color 2s ease;
}
button :hover{
    color: black;
}

section{
    background-color: rgb(171, 163, 163);
    color: rgb(25, 25, 25);
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 auto;
    padding-bottom:30px ;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px 20px rgb(241,244,249);
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    transition: background-color 1s linear;
    
}
section:hover{
    background-color: rgb(214, 208, 208);
}
h1{
    font-size: 70px;
    margin-bottom: 80px;
    color: rgb(0, 0, 0);
}
#h2{
    font-size: 30px;
    color: rgb(37, 25, 25);
    margin-bottom:50px ;
    animation: taghir 3s linear;
    
}
@keyframes taghir{
    from{
        opacity: 0;
        transform: translateY(20px);

    }
    to {
        opacity: 1;
        transform: translateY(0px);
        text-shadow: 2px 2px 5px gray;

    }
}
nav>li>a{
    padding: 25px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 20px;
    
}

